In [1]:
#imports
import pandas as pd

In [30]:
file_name = '../US_Accidents_Dec20.csv'
df=pd.DataFrame()

In [35]:
%%time
with open(file_name) as file:
    for chunk in pd.read_csv(file_name, chunksize = 1000):
        df.append(chunk)

CPU times: user 1min 46s, sys: 9.53 s, total: 1min 56s
Wall time: 1min 56s

In [36]:
type(df)

pandas.core.frame.DataFrame

In [37]:
df.shap

(541, 49)

In [38]:
df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
4232000,A-4238866,Bing,NaN,2,2019-08-22 15:41:40,2019-08-22 19:41:40,45.635248,-120.914705,45.652470,-120.953430,...,False,False,False,False,False,False,Day,Day,Day,Day
4232001,A-4238867,Bing,NaN,2,2019-08-22 16:25:26,2019-08-22 20:25:26,44.669280,-123.058070,44.670200,-123.057898,...,False,False,False,False,False,False,Day,Day,Day,Day
4232002,A-4238868,Bing,NaN,2,2019-08-22 16:24:02,2019-08-22 20:24:02,45.168869,-123.248928,45.170848,-123.246221,...,False,False,False,False,False,False,Day,Day,Day,Day
4232003,A-4238869,Bing,NaN,2,2019-08-22 16:29:24,2019-08-22 20:29:24,44.028153,-121.316296,44.028820,-121.315720,...,False,False,False,False,False,False,Day,Day,Day,Day
4232004,A-4238870,Bing,NaN,2,2019-08-22 16:33:16,2019-08-22 20:33:16,45.558339,-122.678480,45.561960,-122.678480,...,False,False,False,False,False,False,Day,Day,Day,Day

In [27]:
file = open(file_name)
it = iter(file)
print(next(it))

ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Number,Street,Side,City,County,State,Zipcode,Country,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight

In [28]:
print(next(it))

A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,,,0.01,Right lane blocked due to accident on I-70 Eastbound at Exit 41 OH-235 State Route 4.,,I-70 E,R,Dayton,Montgomery,OH,45424,US,US/Eastern,KFFO,2016-02-08 05:58:00,36.9,,91.0,29.68,10.0,Calm,,0.02,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Night,Night,Night

In [29]:
print(next(it))

A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,,,0.01,Accident on Brice Rd at Tussing Rd. Expect delays.,2584.0,Brice Rd,L,Reynoldsburg,Franklin,OH,43068-3402,US,US/Eastern,KCMH,2016-02-08 05:51:00,37.9,,100.0,29.65,10.0,Calm,,0.0,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Night,Night,Day

In [15]:
%%time
for chunk in pd.read_csv(file_name, chunksize = 1000):
    df.append(chunk)

CPU times: user 1min 22s, sys: 12.9 s, total: 1min 35s
Wall time: 1min 40s

In [16]:
type(df)

list

In [17]:
%%time
df1 = pd.DataFrame(df)

CPU times: user 14.2 s, sys: 8.54 s, total: 22.8 s
Wall time: 23.3 s

In [18]:
type(df1)

pandas.core.frame.DataFrame

In [19]:
df1.shape

(8466, 1)

In [42]:
def read_large_file(file_obj):
    while True:
        data = file_obj.readline()
        if not data:
            break
        
        yield data
with open('../US_Accidents_Dec20.csv') as file:
    gen_file = read_large_file(file)
    print(next(gen_file))
    print(next(gen_file))

ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Number,Street,Side,City,County,State,Zipcode,Country,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight

A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,,,0.01,Right lane blocked due to accident on I-70 Eastbound at Exit 41 OH-235 State Route 4.,,I-70 E,R,Dayton,Montgomery,OH,45424,US,US/Eastern,KFFO,2016-02-08 05:58:00,36.9,,91.0,29.68,10.0,Calm,,0.02,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Night,Night,Night

In [ ]:
df = pd.DataFrame()
for line in gen_file:
    df.append(line)

In [21]:
df1.head

<bound method NDFrame.head of                                                       0
0              ID    Source    TMC  Severity        ...
1               ID    Source    TMC  Severity       ...
2               ID    Source    TMC  Severity       ...
3               ID    Source    TMC  Severity       ...
4               ID    Source    TMC  Severity       ...
...                                                 ...
8461                  ID Source  TMC  Severity      ...
8462                  ID Source  TMC  Severity      ...
8463                  ID Source  TMC  Severity      ...
8464                  ID Source  TMC  Severity      ...
8465                  ID Source  TMC  Severity      ...

[8466 rows x 1 columns]>

In [43]:
df2=pd.read_csv(file_name, nrows = 1000000)

In [44]:
type(df2)

pandas.core.frame.DataFrame

In [45]:
df2.shape

(1000000, 49)

In [25]:
df2.head

<bound method NDFrame.head of          ID    Source    TMC  Severity           Start_Time  \
0       A-1  MapQuest  201.0         3  2016-02-08 05:46:00
1       A-2  MapQuest  201.0         2  2016-02-08 06:07:59
2       A-3  MapQuest  201.0         2  2016-02-08 06:49:27
3       A-4  MapQuest  201.0         3  2016-02-08 07:23:34
4       A-5  MapQuest  201.0         2  2016-02-08 07:39:07
..      ...       ...    ...       ...                  ...
995   A-996  MapQuest  201.0         2  2016-06-23 10:31:07
996   A-997  MapQuest  201.0         3  2016-06-23 10:22:09
997   A-998  MapQuest  201.0         2  2016-06-23 10:31:51
998   A-999  MapQuest  201.0         2  2016-06-23 10:32:51
999  A-1000  MapQuest  201.0         2  2016-06-23 10:31:12

                End_Time  Start_Lat   Start_Lng  End_Lat  End_Lng  ...  \
0    2016-02-08 11:00:00  39.865147  -84.058723      NaN      NaN  ...
1    2016-02-08 06:37:59  39.928059  -82.831184      NaN      NaN  ...
2    2016-02-08 07:19:27  39.063148  -84.032608      NaN      NaN  ...
3    2016-02-08 07:53:34  39.747753  -84.205582      NaN      NaN  ...
4    2016-02-08 08:09:07  39.627781  -84.188354      NaN      NaN  ...
..                   ...        ...         ...      ...      ...  ...
995  2016-06-23 11:01:07  38.022778 -121.965698      NaN      NaN  ...
996  2016-06-23 10:52:09  37.656654 -121.901588      NaN      NaN  ...
997  2016-06-23 11:46:51  38.690273 -121.392136      NaN      NaN  ...
998  2016-06-23 11:47:51  38.681110 -121.333244      NaN      NaN  ...
999  2016-06-23 11:01:12  38.653061 -121.070541      NaN      NaN  ...

     Roundabout Station   Stop Traffic_Calming Traffic_Signal Turning_Loop  \
0         False   False  False           False          False        False
1         False   False  False           False          False        False
2         False   False  False           False           True        False
3         False   False  False           False          False        False
4         False   False  False           False           True        False
..          ...     ...    ...             ...            ...          ...
995       False   False  False           False          False        False
996       False   False  False           False          False        False
997       False   False  False           False           True        False
998       False   False  False           False           True        False
999       False   False  False           False          False        False

    Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
0            Night          Night             Night                 Night
1            Night          Night             Night                   Day
2            Night          Night               Day                   Day
3            Night            Day               Day                   Day
4              Day            Day               Day                   Day
..             ...            ...               ...                   ...
995            Day            Day               Day                   Day
996            Day            Day               Day                   Day
997            Day            Day               Day                   Day
998            Day            Day               Day                   Day
999            Day            Day               Day                   Day

[1000 rows x 49 columns]>